In [9]:
# pip install yfinance

import yfinance as yf # para baixar os dados hist√≥ricos da B3 PETR4

ticker = 'ABEV3.SA'
df = yf.download(ticker, start="2020-01-01", end="2024-12-31")

[*********************100%***********************]  1 of 1 completed

In [10]:
df.head(10) # 10 primeiras linhas

Price           Close       High        Low       Open    Volume
Ticker       ABEV3.SA   ABEV3.SA   ABEV3.SA   ABEV3.SA  ABEV3.SA
Date
2020-01-02  16.023834  16.065562  15.673313  15.740079  16011300
2020-01-03  15.798497  15.990449  15.765113  15.815189  20059000
2020-01-06  15.873609  15.998794  15.598199  15.740077  14644300
2020-01-07  15.906993  16.048871  15.740079  15.898647  18036600
2020-01-08  15.831880  15.990449  15.740077  15.932029  14051700
2020-01-09  15.706695  15.923684  15.447977  15.856918  21199500
2020-01-10  15.765113  15.890300  15.664965  15.706693  11697800
2020-01-13  16.032177  16.149018  15.781805  15.798497  19314500
2020-01-14  15.940373  16.340969  15.840224  16.023831  21324400
2020-01-15  15.656618  15.856916  15.656618  15.856916  17408600

In [11]:
df.tail(10) # 10 √∫ltimas linhas

Price           Close       High        Low       Open    Volume
Ticker       ABEV3.SA   ABEV3.SA   ABEV3.SA   ABEV3.SA  ABEV3.SA
Date
2024-12-13  12.957639  13.235019  12.888294  12.977452  30867900
2024-12-16  12.719884  13.294458  12.719884  12.957639  32095500
2024-12-17  12.977452  13.066610  12.868481  12.878387  39564500
2024-12-18  12.640633  12.957639  12.630726  12.947732  40864200
2024-12-19  12.660445  12.789229  12.521755  12.640633  38104000
2024-12-20  12.115590  12.184936  11.897649  11.966994  86074600
2024-12-23  12.105684  12.224562  11.877835  11.996713  40181700
2024-12-26  12.026433  12.125497  11.877836  12.066059  21166800
2024-12-27  11.957087  12.075964  11.858023  12.046245  37624000
2024-12-30  11.630174  12.046245  11.630174  11.947181  38907400

In [12]:
df.shape # Quantidade de linhas e colunas

(1244, 5)

In [13]:
df.columns # Nome das colunas

MultiIndex([( 'Close', 'ABEV3.SA'),
            (  'High', 'ABEV3.SA'),
            (   'Low', 'ABEV3.SA'),
            (  'Open', 'ABEV3.SA'),
            ('Volume', 'ABEV3.SA')],
           names=['Price', 'Ticker'])

In [14]:
df.info() # Quantidade de dados nulos e tipo dos dados

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1244 entries, 2020-01-02 to 2024-12-30
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Close, ABEV3.SA)   1244 non-null   float64
 1   (High, ABEV3.SA)    1244 non-null   float64
 2   (Low, ABEV3.SA)     1244 non-null   float64
 3   (Open, ABEV3.SA)    1244 non-null   float64
 4   (Volume, ABEV3.SA)  1244 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 58.3 KB

In [15]:
df.describe() # Estat√≠sticas descritivas das colunas num√©ricas

Price         Close         High          Low         Open        Volume
Ticker     ABEV3.SA     ABEV3.SA     ABEV3.SA     ABEV3.SA      ABEV3.SA
count   1244.000000  1244.000000  1244.000000  1244.000000  1.244000e+03
mean      12.950990    13.126209    12.792938    12.955075  2.745339e+07
std        1.306567     1.298259     1.306243     1.304374  1.384647e+07
min        9.205358     9.355581     8.646193     8.954985  4.149300e+06
25%       12.253600    12.408038    12.114112    12.270004  1.834785e+07
50%       13.003343    13.188721    12.887081    13.007814  2.419285e+07
75%       13.737911    13.911981    13.584928    13.765125  3.311268e+07
max       16.870192    17.093978    16.672223    16.861584  1.440625e+08