In [9]:
# pip install yfinance

import yfinance as yf # para baixar os dados históricos da B3 PETR4

ticker = 'BBDC4.SA'
df = yf.download(ticker, start="2020-01-01", end="2024-12-31")

[*********************100%***********************]  1 of 1 completed

In [10]:
df.head(10) # 10 primeiras linhas

Price           Close       High        Low       Open    Volume
Ticker       BBDC4.SA   BBDC4.SA   BBDC4.SA   BBDC4.SA  BBDC4.SA
Date
2020-01-02  21.221331  21.221331  20.480196  20.666895  25031584
2020-01-03  21.232073  21.509430  20.875468  20.886790  39999078
2020-01-06  20.852829  21.101885  20.626414  21.056603  33675497
2020-01-07  20.490559  20.920747  20.377351  20.801879  19775066
2020-01-08  20.173578  20.671692  20.071691  20.586786  28306110
2020-01-09  19.850937  20.315087  19.652824  20.252824  30779241
2020-01-10  19.488678  20.026414  19.443396  19.873584  26446970
2020-01-13  19.698116  19.783021  19.567926  19.686794  21719790
2020-01-14  19.675468  19.726411  19.437733  19.715092  18941860
2020-01-15  19.330187  19.596224  19.171697  19.573583  28302783

In [11]:
df.tail(10) # 10 últimas linhas

Price           Close       High        Low       Open    Volume
Ticker       BBDC4.SA   BBDC4.SA   BBDC4.SA   BBDC4.SA  BBDC4.SA
Date
2024-12-13  11.505767  11.762507  11.496258  11.695945  24692500
2024-12-16  11.315586  11.543800  11.239515  11.534291  52741800
2024-12-17  11.401166  11.496255  11.058846  11.382149  66961700
2024-12-18  10.925723  11.325097  10.802107  11.325097  70432300
2024-12-19  10.935232  11.058848  10.811616  10.954250  39732600
2024-12-20  11.182464  11.315588  10.916214  11.001794  63007200
2024-12-23  10.982777  11.172954  10.897196  11.125410  28062600
2024-12-26  11.068357  11.172955  10.963759  11.001795  17715100
2024-12-27  10.982777  11.153936  10.963758  11.125410  19364200
2024-12-30  10.992286  11.115901  10.973267  11.096883  24874700

In [12]:
df.shape # Quantidade de linhas e colunas

(1244, 5)

In [13]:
df.columns # Nome das colunas

MultiIndex([( 'Close', 'BBDC4.SA'),
            (  'High', 'BBDC4.SA'),
            (   'Low', 'BBDC4.SA'),
            (  'Open', 'BBDC4.SA'),
            ('Volume', 'BBDC4.SA')],
           names=['Price', 'Ticker'])

In [14]:
df.info() # Quantidade de dados nulos e tipo dos dados

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1244 entries, 2020-01-02 to 2024-12-30
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Close, BBDC4.SA)   1244 non-null   float64
 1   (High, BBDC4.SA)    1244 non-null   float64
 2   (Low, BBDC4.SA)     1244 non-null   float64
 3   (Open, BBDC4.SA)    1244 non-null   float64
 4   (Volume, BBDC4.SA)  1244 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 58.3 KB

In [15]:
df.describe() # Estatísticas descritivas das colunas numéricas

Price         Close         High          Low         Open        Volume
Ticker     BBDC4.SA     BBDC4.SA     BBDC4.SA     BBDC4.SA      BBDC4.SA
count   1244.000000  1244.000000  1244.000000  1244.000000  1.244000e+03
mean      14.399853    14.608939    14.212404    14.417800  4.562999e+07
std        2.103606     2.117286     2.084331     2.100188  2.781761e+07
min       10.033678    10.958927     9.823579    10.433198  0.000000e+00
25%       12.679386    12.882683    12.499833    12.705485  3.009360e+07
50%       14.295429    14.486740    14.118210    14.294280  3.977560e+07
75%       15.888036    16.091552    15.681619    15.898829  5.453290e+07
max       21.232073    21.509430    20.875468    21.056603  4.991948e+08