In [13]:
# pip install yfinance

import yfinance as yf # para baixar os dados hist√≥ricos da B3 PETR4

ticker = 'PETR4.SA'
df = yf.download(ticker, start="2020-01-01", end="2024-12-31")

[*********************100%***********************]  1 of 1 completed

In [14]:
df.head(10) # 10 primeiras linhas

Price          Close       High       Low       Open    Volume
Ticker      PETR4.SA   PETR4.SA  PETR4.SA   PETR4.SA  PETR4.SA
Date
2020-01-02  9.959949   9.959949  9.833422   9.898308  37774500
2020-01-03  9.878842  10.135140  9.878842  10.018346  71595600
2020-01-06  9.995640  10.037816  9.716632   9.872357  81844000
2020-01-07  9.956707  10.018348  9.885332   9.998882  32822000
2020-01-08  9.895066   9.982662  9.810715   9.956708  48215600
2020-01-09  9.862623   9.933998  9.813959   9.885333  36102700
2020-01-10  9.820448   9.875601  9.775028   9.859379  25397500
2020-01-13  9.839911   9.872354  9.800980   9.846400  30676800
2020-01-14  9.732852   9.820448  9.658234   9.807470  39796500
2020-01-15  9.586859   9.710142  9.583615   9.700409  34405700

In [15]:
df.tail(10) # 10 √∫ltimas linhas

Price           Close       High        Low       Open    Volume
Ticker       PETR4.SA   PETR4.SA   PETR4.SA   PETR4.SA  PETR4.SA
Date
2024-12-13  37.227943  37.843525  37.052063  37.716499  23235400
2024-12-16  37.071606  37.384281  36.964127  37.315884  21349400
2024-12-17  37.423367  37.609020  36.964127  37.071606  39617200
2024-12-18  36.456028  37.521080  36.456028  37.403824  58126400
2024-12-19  36.309464  37.061840  36.133583  36.798019  43268400
2024-12-20  36.006557  36.495113  35.869762  36.309463  59277400
2024-12-23  36.016331  36.201981  35.879536  36.153126  43785600
2024-12-26  34.951279  35.176014  34.785168  34.814484  22920700
2024-12-27  34.843796  35.176014  34.794941  35.176014  24167200
2024-12-30  35.361664  35.537544  34.951279  34.961048  22355600

In [16]:
df.shape # Quantidade de linhas e colunas

(1244, 5)

In [17]:
df.columns # Nome das colunas

MultiIndex([( 'Close', 'PETR4.SA'),
            (  'High', 'PETR4.SA'),
            (   'Low', 'PETR4.SA'),
            (  'Open', 'PETR4.SA'),
            ('Volume', 'PETR4.SA')],
           names=['Price', 'Ticker'])

In [18]:
df.info() # Quantidade de dados nulos e tipo dos dados

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1244 entries, 2020-01-02 to 2024-12-30
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Close, PETR4.SA)   1244 non-null   float64
 1   (High, PETR4.SA)    1244 non-null   float64
 2   (Low, PETR4.SA)     1244 non-null   float64
 3   (Open, PETR4.SA)    1244 non-null   float64
 4   (Volume, PETR4.SA)  1244 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 58.3 KB

In [19]:
df.describe() # Estat√≠sticas descritivas das colunas num√©ricas

Price         Close         High          Low         Open        Volume
Ticker     PETR4.SA     PETR4.SA     PETR4.SA     PETR4.SA      PETR4.SA
count   1244.000000  1244.000000  1244.000000  1244.000000  1.244000e+03
mean      17.636155    17.869997    17.397680    17.632127  6.614914e+07
std       10.167141    10.244489    10.087972    10.162183  3.794661e+07
min        3.662796     3.951538     3.520048     3.591422  1.282670e+07
25%        9.150312     9.291047     9.067071     9.195470  4.031825e+07
50%       14.601238    14.810378    14.266389    14.537067  5.787015e+07
75%       27.228777    27.529504    27.017672    27.127209  8.128058e+07
max       38.144730    38.304487    37.693643    37.919186  4.902304e+08