In [9]:
# pip install yfinance

import yfinance as yf # para baixar os dados históricos da B3 PETR4

ticker = 'PETR3.SA'
df = yf.download(ticker, start="2020-01-01", end="2024-12-31")

[*********************100%***********************]  1 of 1 completed

In [10]:
df.head(10) # 10 primeiras linhas

Price           Close       High        Low       Open    Volume
Ticker       PETR3.SA   PETR3.SA   PETR3.SA   PETR3.SA  PETR3.SA
Date
2020-01-02  10.761890  10.761890  10.532216  10.601119   6660800
2020-01-03  10.496123  10.902975  10.496123  10.827511  20340400
2020-01-06  10.837354  10.866883  10.427221  10.499405  17549700
2020-01-07  10.689708  10.837355  10.633929  10.824231   5480400
2020-01-08  10.515810  10.745485  10.430503  10.729080  10030200
2020-01-09  10.574870  10.617524  10.443628  10.532216  15411600
2020-01-10  10.532215  10.601118  10.489562  10.584712   3867200
2020-01-13  10.528935  10.584713  10.463314  10.548622   6666500
2020-01-14  10.443626  10.545339  10.318946  10.486280   6752000
2020-01-15  10.210671  10.391130  10.204109  10.368162   7113300

In [11]:
df.tail(10) # 10 últimas linhas

Price           Close       High        Low       Open    Volume
Ticker       PETR3.SA   PETR3.SA   PETR3.SA   PETR3.SA  PETR3.SA
Date
2024-12-13  40.188808  40.805292  39.728891  40.775933   7936900
2024-12-16  39.797390  40.374731  39.719108  40.237736   7761300
2024-12-17  40.413876  40.658512  39.944175  39.944175  15439900
2024-12-18  39.513615  40.521514  39.337476  40.267094  18052600
2024-12-19  39.151550  40.110527  38.711208  39.826748  13522100
2024-12-20  38.867775  39.298333  38.730779  39.229835  21313100
2024-12-23  39.161339  39.161339  38.662279  38.985201   9074300
2024-12-26  38.437214  38.437214  37.693522  37.967513   8614500
2024-12-27  38.006657  38.515500  37.996873  38.515500   9594400
2024-12-30  38.564426  38.779707  38.182795  38.182795   7914800

In [12]:
df.shape # Quantidade de linhas e colunas

(1244, 5)

In [13]:
df.columns # Nome das colunas

MultiIndex([( 'Close', 'PETR3.SA'),
            (  'High', 'PETR3.SA'),
            (   'Low', 'PETR3.SA'),
            (  'Open', 'PETR3.SA'),
            ('Volume', 'PETR3.SA')],
           names=['Price', 'Ticker'])

In [14]:
df.info() # Quantidade de dados nulos e tipo dos dados

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1244 entries, 2020-01-02 to 2024-12-30
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Close, PETR3.SA)   1244 non-null   float64
 1   (High, PETR3.SA)    1244 non-null   float64
 2   (Low, PETR3.SA)     1244 non-null   float64
 3   (Open, PETR3.SA)    1244 non-null   float64
 4   (Volume, PETR3.SA)  1244 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 58.3 KB

In [15]:
df.describe() # Estatísticas descritivas das colunas numéricas

Price         Close         High          Low         Open        Volume
Ticker     PETR3.SA     PETR3.SA     PETR3.SA     PETR3.SA      PETR3.SA
count   1244.000000  1244.000000  1244.000000  1244.000000  1.244000e+03
mean      19.141040    19.399855    18.874839    19.131353  1.759540e+07
std       11.040235    11.132621    10.942221    11.030888  1.242658e+07
min        3.625576     4.002898     3.445117     3.609170  2.358000e+06
25%        9.536614     9.698945     9.437857     9.575757  1.021170e+07
50%       16.238717    16.518945    16.055958    16.226515  1.471980e+07
75%       30.044088    30.324467    29.728825    29.965037  2.037930e+07
max       41.439644    41.534038    40.835508    41.194213  1.374106e+08