In [9]:
# pip install yfinance

import yfinance as yf # para baixar os dados hist√≥ricos da B3 PETR4

ticker = 'SBSP3.SA'
df = yf.download(ticker, start="2020-01-01", end="2024-12-31")

[*********************100%***********************]  1 of 1 completed

In [10]:
df.head(10) # 10 primeiras linhas

Price           Close       High        Low       Open   Volume
Ticker       SBSP3.SA   SBSP3.SA   SBSP3.SA   SBSP3.SA SBSP3.SA
Date
2020-01-02  52.544147  52.934650  51.910668  52.596216  1885800
2020-01-03  51.641659  52.301174  51.563558  51.685050  2573200
2020-01-06  50.851974  51.650335  50.539576  51.268512  2181600
2020-01-07  49.984196  51.016857  49.489561  50.938757  2879500
2020-01-08  49.246582  50.313952  48.899468  50.183787  3572000
2020-01-09  50.001549  50.591640  49.229224  50.591640  4567700
2020-01-10  49.819317  50.504865  49.480883  50.201139  2176700
2020-01-13  51.988770  51.988770  50.027586  50.027586  4281300
2020-01-14  53.116882  53.394572  52.075544  52.075544  3278200
2020-01-15  52.847874  53.533418  52.787129  53.203664  2496600

In [11]:
df.tail(10) # 10 √∫ltimas linhas

Price           Close       High        Low       Open   Volume
Ticker       SBSP3.SA   SBSP3.SA   SBSP3.SA   SBSP3.SA SBSP3.SA
Date
2024-12-13  86.507622  87.407425  85.898068  87.175218  3947900
2024-12-16  86.110931  87.107495  85.327228  86.352816  4678100
2024-12-17  87.649315  88.171787  85.888395  86.294767  8729600
2024-12-18  85.046638  87.707369  84.359687  87.107493  9342400
2024-12-19  84.359688  85.743268  84.079101  85.153069  5388000
2024-12-20  83.808189  84.804753  83.130908  83.904942  8880200
2024-12-23  85.530411  87.658993  83.392151  83.566309  7702100
2024-12-26  85.685211  87.465486  85.307872  85.559434  2599700
2024-12-27  85.423981  86.730156  85.423981  86.565677  2790600
2024-12-30  85.627159  85.936771  84.901505  85.520729  4150100

In [12]:
df.shape # Quantidade de linhas e colunas

(1244, 5)

In [13]:
df.columns # Nome das colunas

MultiIndex([( 'Close', 'SBSP3.SA'),
            (  'High', 'SBSP3.SA'),
            (   'Low', 'SBSP3.SA'),
            (  'Open', 'SBSP3.SA'),
            ('Volume', 'SBSP3.SA')],
           names=['Price', 'Ticker'])

In [14]:
df.info() # Quantidade de dados nulos e tipo dos dados

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1244 entries, 2020-01-02 to 2024-12-30
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Close, SBSP3.SA)   1244 non-null   float64
 1   (High, SBSP3.SA)    1244 non-null   float64
 2   (Low, SBSP3.SA)     1244 non-null   float64
 3   (Open, SBSP3.SA)    1244 non-null   float64
 4   (Volume, SBSP3.SA)  1244 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 58.3 KB

In [15]:
df.describe() # Estat√≠sticas descritivas das colunas num√©ricas

Price         Close         High          Low         Open        Volume
Ticker     SBSP3.SA     SBSP3.SA     SBSP3.SA     SBSP3.SA      SBSP3.SA
count   1244.000000  1244.000000  1244.000000  1244.000000  1.244000e+03
mean      51.685677    52.391427    50.891501    51.665612  3.631919e+06
std       17.448514    17.547422    17.366059    17.436894  2.569800e+06
min       26.510715    28.463221    24.618954    27.335108  7.350000e+05
25%       37.895643    38.439549    37.247714    37.920301  2.251575e+06
50%       47.835838    48.629701    47.020077    47.716595  3.070350e+06
75%       57.333838    58.170897    56.618948    57.131953  4.241500e+06
max       96.347488    96.676447    95.776636    96.328137  4.700290e+07